extends layout.pug

block vars
  -var id = 'agenda'

block title
        | Agenda
block content       
        table 
            tr
                td.fragment
                    ul
                        li syntax
                        li selectors
                        li properties
                        li selectors priority                        
                td.fragment
                    ul                        
                       li box model
                       li float        
                       li positioning        
                       li flex
                          br
         

                td.fragment
                    ul                      
                        li more to learn
                        li more to read
                        li extras
                           br
                           br

