extends layout.pug 

block vars
  - var id = 'title'
  - var bgImg ='common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'
block title
        | Around 120 minutes with CSS
block content
            img.logo(src='img/css-logo.png')        