extends ../layout.pug

block vars
  -var id = 'blockvsinline02'

block title
        | block vs inline
block content   
            h3
                | display: inline
            ul             
                 li displayed next to each other
                 li size defined only by content size and margin-left, margin-right, padding-left, padding-right
                 li example: &lt;a&gt;, &lt;span&gt;  

             


