extends ../layout.pug

block vars
  -var id = 'blockvsinline01'

block title
        | block vs inline
block content       
            h3
                | display: block

            ul             
                li displayed under each other
                li size defined by width, height, margin, padding
                li example: &lt;div&gt;, &lt;section&gt;, &lt;p&gt;                                   
    
             


