extends ../layout.pug

block vars
  -var id = 'blockvsinline03'

block title
        | block vs inline
block content       
            h3
                | display: inline-block

            ul             
             li displayed next to each other
             li size defined by width, height, margin, padding
             li set by css style only
             

      
               
             


