extends ../layout.pug

block vars
  -var id = 'demo03'
  -var bgImg ='common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'
block title
        | Demo Block vs inline 
block content       
        a(href="http://scratchpad.io/cute-girl-6528", target="_blank") Demo