extends ../layout.pug

block vars
  -var id = 'demo04'
  -var bgImg ='common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'
block title
        | Demo Float
block content       
        a(href="http://scratchpad.io/volatile-army-7723", target="_blank") Demo