extends ../layout.pug

block vars
  -var id = 'exercise3'
  -var type= "jsbin"


block title
       a(href="http://jsbin.com/jaxobe/1/edit?html,css" target="_blank")
         | Exercise 3
block content       
                
        a(href="http://jsbin.com/pakisa/2/edit?output" target="_blank")
          img.logo(src='img/excercise3.png')        
        
        
