extends ../layout.pug

block vars
  -var id = 'exercise4'
  -var type= "jsbin"
  -var bgImg ='common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'
  
block title
       a(href="http://jsbin.com/gemovi/1/edit?html,css" target="_blank")
         | Exercise 4
block content       
                
        a(href="http://jsbin.com/jafuzo/2/edit?output" target="_blank")
          img.logo(src='img/excercise4.png')        
        
        
