extends ../layout.pug

block vars
  -var id = 'exercise3'
  -var type= "jsbin"

block title
        |  Exercise 3
block content       
        iframe.jsbin(data-src="http://jsbin.com/jaxobe/1/edit?html,css" )

        iframe.jsbinresult(data-src="http://jsbin.com/pakisa/2/edit?output" ) 
        p.small
             | In Chrome click "Load unsafe scripts" to see exercise
