extends ../layout.pug

block vars
  -var id = 'flexbox'

block title
        | Flexbox
block content       
        ul
          li
            | a new layout mode in CSS3
          li 
            | make layout component easier
          li  
            | optimal use of avaiable space
          li  
            | designed to style components not whole pages
          li
            | responsive and mobile friendly
          li 
            a(href="http://flexboxfroggy.com/" target="_blank")  
              | Playground for learining Flex
          li 
            a(href="http://cssgridgarden.com/" target="_blank")   
              | Playground for learning CSS Grid    