extends ../layout.pug

block vars
  -var id = 'float01'

block title
        | Float
block content       
       ul
          li element can be pushed to the <b class="blue">left</b> or <b class="blue">right</b>,
          li elements are floated <b class="blue">horizontally</b>
          li elements after the floating element will flow around it