extends ../layout.pug

block vars
  -var id = 'positioning04'

block title
        | Position: fixed
block content       
        ul
                li element is positioned <b>relative to the browser window</b>
                li position can be adjusted with <i>top, bottom, left, right</i> properties
