extends ../layout.pug

block vars
  -var id = 'positioning01'

block title
        | Position:static
block content               
        ul
                li default value
                li positioned according to the normal flow

        
