extends ../layout.pug

block vars
  -var id = 'extras'

block title
        | extras
block content       
        ul
                li
                        a(href="http://www.csszengarden.com/" target="_blank") CSS Zen Garden
                li
                        a(href="http://codepen.io/pixelass/pen/YXXBmr" target="_blank") Octopus
                li
                        a(href="http://codepen.io/tameraydin/pen/CADvB" target="_blank") CSS Cube
                li
                        a(href="http://codepen.io/thebabydino/pen/qDziw" target="_blank") CSS Complex Animation
                li
                         a(href="https://codepen.io/ziga-miklic/pen/Fagmh" target="_blank") Tic Tac Toe

