extends ../layout.pug

block vars
  -var id = 'more02'

block title
        | People
block content       
        ul
            li
                a(href="http://meyerweb.com/", target="_blank") Eric Mayer
            li
                a(href="http://lea.verou.me/", target="_blank") Lea Veru
            li
                a(href="https://css-tricks.com/", target="_blank") Chris Coyier       