extends ../layout.pug

block vars
  -var id = 'moretolearn'

block title
        | what we have missed
block content       
        ul 
          li.fragment sass / less (preprocessors)
          li.fragment media queries
          li.fragment CSS - programming language?
          li.fragment bootstrap, google material
          li.fragment css animation
          