extends ../layout.pug

block vars
  -var id = 'more01'

block title
        | Websites
block content               
        ul
            li
                a(href="http://www.w3schools.com" target="_blank") W3C Schools
            li
                a(href="http://www.htmldog.com/" target="_blank") HTML Dog
            li
                a(href="https://css-tricks.com/", target="_blank") CSS Tricks
            li
                a(href="https://www.smashingmagazine.com/", target="_blank") Smashing Magazine