extends ../layout.pug

block vars
  -var id = 'more02'

block title
        | Watch Conferences
block content               
        ul
            li
                a(href="https://2017.front-trends.com/", target="_blank") Front Trends
                a(href="https://vimeo.com/fronttrends/videos/page:1/sort:date", target="_blank") (@Vimeo)
            li
                a(href="http://2016.cssconf.com/", target="_blank") CSS Conf
            li
                a(href="http://2017.cssconf.eu/", target="_blank") CSS Conf Europe