extends ../layout.pug
 
block vars
  -var id = 'demo02'
  -var bgImg ='common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'
block title
        | Demo Priority
block content       
        a(href="http://scratchpad.io/relieved-magic-890", target="_blank") Demo