extends ../layout.pug

block vars
  -var id = 'exercise2'
  -var type= "jsbin"

block title
        | Exercise 2
block content       
        iframe.jsbin(data-src="http://jsbin.com/bipaqe/1/edit?html,css" )

        iframe.jsbinresult(data-src="http://jsbin.com/rewihig/2/edit?output" ) 
        p.small
             | In Chrome click "Load unsafe scripts" to see exercise
