extends ../layout.pug

block vars
  -var id = 'exercise1'
  -var type= "jsbin"
  -var bgImg ='common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg'

block title        
       a(href="https://jsbin.com/qagupaxumi/edit?html,css,output" target="_blank")
         | Exercise 1
block content       
        
        

        a(href="http://jsbin.com/sefufos/2/edit?output" target="_blank")
          img.logo(src='img/excercise1.png')        
        
        
