extends ../layout.pug

block vars
  -var id = 'priority02'

block title
        | priority (S-I-C-E)
block content       
        table
                tbody
                        tr
                        td.bold Inline Style:
                        td S = 1 – (1,0,0,0)
                        tr
                        td.bold Ids
                        td I =  1 – (0,1,0,0)
                        tr
                        td.bold Class, Pseudo class, Attribute:
                        td C = 1 – (0,0,1,0)
                        tr
                        td.bold  Element, Pseudo Element:
                        td E = 1 – (0,0,0,1)
