extends ../layout.pug

block vars
  -var id = 'properties01'

block title
        | properties
block content       
         table
                thead
                        tr
                        th Properties
                        th Example values
                tbody
                        tr
                        td.code animation
                        td.
                                mymove 5s infinite
                        tr
                        td.code width
                        td 500px
                        tr
                        td.code margin/padding
                        td 5px 0 5px 0
                        tr
                        td.code line-height
                        td 1.4em
                        tr
                        td.code font-weight
                        td bolder
                        tr
                        td.code color
                        td rgba(12,34,56,0.6)
                        tr
                        td.code left
                        td -25px
                        tr
                        td.code visiblility
                        td false